:root{
  --mainGreen:#13521e;
  --lightGreen:#74cc80;
  --mainCream:#FFFDD0;
  --mainDark:#0d350d;
  --mainYellow:#ffa400;
}
body{

  font-family: 'Kaisei HarunoUmi', sans-serif !important;
  background: var(--mainCream) !important;
  color:var(--mainDark) !important;

}

.title{

 font-family: 'Kaisei HarunoUmi', sans-serif;
font-weight: 700;
letter-spacing: 0.2rem;
}

.text-green{

  color:var(--mainGreen);
}
.text-lightgreen{

  color:var( --lightGreen);
}
.nav-link{

  color:var(--mainDark) !important;
  font-size:1.3rem;
}

.nav{

  background-color: var(--lightGreen);
  

 margin-top: 0 !important;

 


}
.text-title{

  font-family: 'Kaisei HarunoUmi', sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  color:black;
    
}


/* cards in product page  */
.img-container {
 background-color:var( --mainCream)!important;

}
