:root{
  --mainGreen:#13521e;
  --lightGreen:#74cc80;
  --mainCream:#FFFDD0;
  --mainDark:#3f2812;
  --mainYellow:#ffa400;
  --cartBrown: rgb(63, 23, 9,.75);
  --mainBrown: rgba(165, 42, 42, 0.26);
} 
body{

  font-family: 'Kaisei HarunoUmi', sans-serif !important;
  background: var(--mainCream) !important;
  color:var(--mainDark) !important;
  

}



.title{

 font-family: 'Kaisei HarunoUmi', sans-serif;
font-weight: 700;
letter-spacing: 0.2rem;
color:var(--mainDark) !important;
}

.text-green{

  color:var(--mainGreen);
}
.text-lightgreen{

  color:var( --lightGreen);
}
.nav-link{

  color:var(--mainDark) !important;
  font-size:1.3rem;
  
}

.navbar{

  background-color: var(--mainBrown);
  

 margin-top: 0 !important;

 


}

.text-title{

  font-family: 'Kaisei HarunoUmi', sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  color:black;
    
}


/* cards in product page  */
.img-container {
 background-color:var( --mainCream)!important;
 border: none;


}


.card{

 border-color:rgb(240, 210, 170) !important;
  background-color:transparent!important;

}

.card-footer{

  border: none !important;
  background-color:transparent!important;
  align-self: center;
  margin-bottom: 0px;

}

.home{

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0px;
  background-image: url("./background3.jpg"); 
  width: 100%;
  height:100%;
  background-size: cover;
  background-position: center ;

  background-repeat: no-repeat; 

  
}
/* .home img{

  background-image: url('./background.jpg'); 
  background-position: center  ;
  width: auto;
  height:800px;

  background-size: contain;
} */

/* 
.home img{

  background-image: url('./background.jpg'); 


   background-repeat: no-repeat; 
  background-position: center  ;
  width: auto;
  height:100%;
  background-size: cover;

} */
  /* position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  /* min-width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center; */ 
