:root{
  --mainGreen:#13521e;
  --lightGreen:#74cc80;
  --mainCream:#FFFDD0;
  --mainDark:#3f2812;
  --mainYellow:#ffa400;
  --cartBrown: rgb(63, 23, 9,.75);
  --mainBrown: rgba(165, 42, 42, 0.50);
} 
body{

  font-family: 'Kaisei HarunoUmi', sans-serif !important;
  background: var(--mainCream) !important;
  color:var(--mainDark) !important;
 

  

}



.title{

 font-family: 'Kaisei HarunoUmi', sans-serif;
font-weight: 700;
letter-spacing: 0.2rem;
color:var(--mainDark) !important;
}

.text-green{

  color:var(--mainGreen);
}
.text-lightgreen{

  color:var( --lightGreen);
}
.nav-link{

  color:var(--mainDark) !important;
  font-size:1.5rem;
  letter-spacing: .3rem;
  margin-right: 2rem;
  
}

.navbar{

  background-color: var(--mainBrown);
  

 margin: 0 !important;
 padding: .5px   !important;
 box-shadow: 1px 1px 2px 0px rgb(165, 42, 42, 0.7);

 


}

.text-title{

  font-family: 'Kaisei HarunoUmi', sans-serif;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 1.3rem;
  color:black;
    
}


/* cards in product page  */
.img-container {
 background-color:var( --mainCream)!important;
 border: transparent;
 position:relative;
 overflow:hidden;
 



}
.img-container:hover .cart-btn{

  transform: translate(0,0);


}


.productcard-img-top{
  transition: all .5s linear;
}
.productcard-img-top:hover{
transform:scale(1.02);
overflow:hidden;
 
}


.productcard{

 border-color:transparent !important;
  background-color:transparent!important;
  transition:all .5s linear;  
  position: relative;
  
 

}
.productcard:hover {border: rgb(218, 199, 164,.2)  !important; box-shadow: 4px 4px 5px 0px rgba(218, 199, 164);}


.productcard-footer{

  border: none !important;
  background-color:transparent!important;
  align-self: center;
  margin-bottom: 0px;
  transition:all .5s linear;



}

.home{

  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0px;
  background-image: url("./background3.jpg"); 
  width: 100%;
  height:100%;
  background-size: cover;
  background-position: center ;

  background-repeat: no-repeat; 
  

  
}
.homebtn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.cart-btn{

  padding:.1rem;
  position:absolute;
  bottom: 0;
  right:0;
  background: rgb(233, 161, 5);
  border:none;
  color:white;
  transform:translate(100%,100%);
  transition: all 1s linear;
}
.cart-btn:hover{

  color: rgba(200, 243, 11, );
  background:rgb(247, 244, 244,.5);
  transform:scale(1.2);
  overflow: hidden;
  cursor:pointer;


}

.detailcard {
 background-color: rgb(207, 133, 22,.5) !important;

}
.btn-decrease {

  background:transparent;
  font-size:1rem !important;
  color: var(--mainDark);
  border-radius:0 !important;
  border:.1rem solid var(--mainDark) !important;

}

.btn-decrease:hover{

  background: #442406 !important;

 color: var(--mainCream) !important;

}

.cart-icon{
  cursor: pointer;
  font-size:1.5rem;
  color: var(--mainYellow);
}


.site-footer
{     margin: 0 !important;   background-image: linear-gradient(rgba(221, 210, 49, 0.2), #FFFDD0);
  padding: 10px 0;}
  a:link {
    color:var(--mainDark);
    background-color: transparent;
    text-decoration: none !important;
    margin:0%;
    
   
  }
  
  a:visited {
    color: rgb(221, 114, 14);
    background-color: transparent;
    text-decoration: none !important;
  }
  
  a:hover {
    color: rgb(190, 56, 3) !important;
    background-color: transparent;
    text-decoration: none !important;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none !important;
  }
 

 .btncheckout {
  border-radius: 12%;
  font-size:1.5rem;
  padding: .2rem;
  border-color: transparent!important;
  
 }
 .btncheckout:hover{

  color:rgb(252, 249, 245) !important;
 }